# Data file accesses.
allow hal_nfc nfc_data_file:dir create_dir_perms;
allow hal_nfc nfc_data_file:{ file lnk_file fifo_file } create_file_perms;
allow hal_nfc_default nfc_vendor_data_file:dir search;
allow hal_nfc_default nfc_vendor_data_file:file { read write };
