allow priv_app device:dir open;
allow priv_app mnt_vendor_file:dir search;
allow priv_app proc:file { getattr open };
allow priv_app proc_interrupts:file open;
allow priv_app sysfs:dir open;
allow priv_app sysfs:file { getattr open read };
allow priv_app sysfs_mac_address:file { read open };
